$min-height: 300px;
#dashboard-map{
  min-height: $min-height;
  width: 100%;
  position: relative;
  overflow: hidden;
  #dashboard-map-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  #dashboard-panel{
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    top: 0;
    width: 17rem;
    height: 100%;
    overflow-y: scroll;
    transition: right 300ms ease 0s;
    &.closed{
      right: -17rem;
      width: 0;
    }
  }
}
